extends layout

block content


  div.fullscreen
    div.submain
      h1.tytle DNG PHOTOGRAPHY
      div(style = "padding-left: 20px;")
        button(onclick = "scroll('.ourworks', 1000)").subs Our Works
        p.subspace |
        button(onclick = "scroll('.whowe', 900)").subs Who We Are
        p.subspace |
        button(onclick = "scroll('.contact', 700)").subs Contact
  div.lower
    h1(style = "font-family: 'Ailerons'; text-align:center; font-size:10vw; color:black; padding-top:100px;").ourworks our works
    center
      img(src="images/smll15.jpg" height=200).smll
      img(src="images/smll2.jpg" height=200).smll
      img(src="images/smll3.jpg" height=200).smll
      img(src="images/smll4.jpg" height=200).smll
      img(src="images/smll5.jpg" height=200).smll
      img(src="images/smll6.jpg" height=200).smll
      img(src="images/smll7.jpg" height=200).smll
      img(src="images/smll8.jpg" height=200).smll
      img(src="images/smll9.jpg" height=200).smll
      img(src="images/smll10.jpg" height=200).smll
      img(src="images/smll11.jpg" height=200).smll
      img(src="images/smll12.jpg" height=200).smll
      img(src="images/smll13.jpg" height=200).smll
      img(src="images/smll14.jpg" height=200).smll


      h1(style = "font-family: 'Ailerons'; text-align:center; font-size:10vw; color:black; padding-top:80px;").whowe who we are
      div
        div(style = " padding-bottom:10px;").animation-element.slide-left
          div
            div.profiletext
              img( height = "200px" src="images/kitty.png" style = "margin-left:10px; margin-right:10px;").profileimg
              h2( style= " color:black; font-size:3vw; padding:10px;") Daniel Gott
            h.descrip  Photography has been a passion of mine for many years of my life. I have been photographing professionally for two years now and have built a reputation for myself as a free form artist that goes above and beyond the safe shot with experimentation while still keeping the client front and center.
          div
            div.profiletext
              img(  height = "200px" src="images/colin.png" style = "margin-left:10px; margin-right:10px;").profileimg
              h2( style= " color:black; font-size:3vw; padding:10px;") Colin Bonner
            h.descrip  I fell in love with photography through film. Although technology has changed my curiosity for the medium has not and I still keep a reel on me. My favorite views are landscapes and abstract shots as they seem to inspire the most adventure leading up to the shot
          div
            div.profiletext
              img(  height = "200px" src="images/jeramy.JPG" ).profileimg
              h2( style= " color:black; font-size:3vw; padding:10px; ") Jeremy Cleghorn
            h.descrip  My father introduced me to photography at a young age. He taught me the ins and outs of the business and how to take the best shot possible. My favorite photos to take would have to be abstract and portraits shots. Overall I look forward to the challenege ahead and what I can do to succeed to complete that challenge.


      div(style = " margin-left:100px; margin-right:100px; background-color: #DCDFE8; padding:30px; margin-top:10%;")
        p(style= " color:black; line-height: 50px; font-size:2vw; ").
            DNG Photography aims to impress our clientele at ever step of our creative process. We look forward to adapting to your business needs at every turn.
    h1(style = "font-family: 'Ailerons'; text-align:center; font-size:10vw; color:black; padding-top:100px;").contact contact
    div(style = "color:black").divform
          form
            label(for="fname") First Name
            input#fname(type="text", name="firstname")
            label(for="lname") Last Name
            input#lname(type="text", name="lastname")
            label(for="country") State
            select#country(name="country")
              option(value="usa") USA
              option(value="australia") Australia
              option(value="canada") Canada

            input(type="submit", value="Submit")
