extends layout

block content


  div.fullscreen
    div.submain
      h1.tytle DNG PHOTOGRAPHY
      div(style = "padding-left: 20px;")
        button(onclick = "scroll('.ourworks', 1000)").subs Our Works
        p.subspace |
        button(onclick = "scroll('.whowe', 900)").subs Who We Are
        p.subspace |
        button.subs Contact
  div.lower
    h1(style = "font-family: 'Ailerons'; text-align:center; font-size:10vw; color:black; padding-top:100px;").ourworks our works
    center
      img(src="images/smll15.jpg" height=200).smll
      img(src="images/smll2.jpg" height=200).smll
      img(src="images/smll3.jpg" height=200).smll
      img(src="images/smll4.jpg" height=200).smll
      img(src="images/smll5.jpg" height=200).smll
      img(src="images/smll6.jpg" height=200).smll
      img(src="images/smll7.jpg" height=200).smll
      img(src="images/smll8.jpg" height=200).smll
      img(src="images/smll9.jpg" height=200).smll
      img(src="images/smll10.jpg" height=200).smll
      img(src="images/smll11.jpg" height=200).smll
      img(src="images/smll12.jpg" height=200).smll
      img(src="images/smll13.jpg" height=200).smll
      img(src="images/smll14.jpg" height=200).smll


      h1(style = "font-family: 'Ailerons'; text-align:center; font-size:10vw; color:black; padding-top:80px;").whowe who we are
      div(style = " padding-bottom:10px;").animation-element.slide-left
        div.profiletext
          img(src="images/kitty.png").profileimg
          h2(style= " color:black;") Daniel Gott
        div.profiletext
          img(src="images/colin.png").profileimg
          h2(style= " color:black;") Colin Bonner
      div(style = " margin-left:100px; margin-right:100px; background-color:#f7faff; padding:10px;")
        p(style= " color:black; line-height: 50px; font-size:2vw;").
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim aliquam placerat. Proin sit amet venenatis justo. Morbi lacinia sem non gravida convallis. Integer pellentesque sit amet ante et egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec sit amet porta dui. Nam elementum, quam in dapibus gravida, purus tellus laoreet tellus, nec viverra enim justo a lorem. Fusce pretium, magna in aliquet cursus, turpis turpis gravida tortor, a vehicula est leo vel eros. Praesent rhoncus nulla est. Phasellus at tellus odio. Aliquam aliquet nunc cursus, suscipit libero at, volutpat ligula.
            Curabitur fringilla aliquam facilisis. Ut ullamcorper eleifend porta. Morbi at dolor neque. Nunc sed nisi augue. Ut tellus nisi, faucibus cursus vestibulum eget, dictum vitae justo. Nullam ut orci ac justo posuere vehicula a eu lorem. Donec egestas nunc at mi ultrices varius. Sed nec magna eu quam pharetra ultricies eget vitae est. Maecenas velit nisi, tristique non massa nec, placerat imperdiet quam. Donec quis porta sapien.
