extends layout

block content


  div.fullscreen
    div.submain
      h1.tytle DNG PHOTOGRAPHY
      div(style = "padding-left: 20px;")
        button(onclick = "scroll('.ourworks', 1000)").subs Our Works
        p.subspace |
        button(onclick = "scroll('.whowe', 900)").subs Who We Are
        p.subspace |
        button(onclick = "scroll('.contact', 700)").subs Contact
  div.lower
    h1(style = "font-family: 'Ailerons'; text-align:center; font-size:10vw; color:black; padding-top:100px;").ourworks our works
    center
      img(src="images/smll15.jpg" height=200).smll
      img(src="images/smll2.jpg" height=200).smll
      img(src="images/smll3.jpg" height=200).smll
      img(src="images/smll4.jpg" height=200).smll
      img(src="images/smll5.jpg" height=200).smll
      img(src="images/smll6.jpg" height=200).smll
      img(src="images/smll7.jpg" height=200).smll
      img(src="images/smll8.jpg" height=200).smll
      img(src="images/smll9.jpg" height=200).smll
      img(src="images/smll10.jpg" height=200).smll
      img(src="images/smll11.jpg" height=200).smll
      img(src="images/smll12.jpg" height=200).smll
      img(src="images/smll13.jpg" height=200).smll
      img(src="images/smll14.jpg" height=200).smll


      h1(style = "font-family: 'Ailerons'; text-align:center; font-size:10vw; color:black; padding-top:80px;").whowe who we are
      div(style = " padding-bottom:10px;").animation-element.slide-left
        div.profiletext
          img( height = "300px" src="images/kitty.png").profileimg
          h2( style= " color:black; font-size:3vw;") Daniel Gott
        div.profiletext
          img(  height = "300px" src="images/colin.png").profileimg
          h2( style= " color:black; font-size:3vw;") Colin Bonner
      div(style = " margin-left:100px; margin-right:100px; background-color:#B8B8B8; padding:10px;")
        p(style= " color:black; line-height: 50px; font-size:2vw;").
            DNG is a small group featuring two primary photographers, along with a few minute contributors, based out of northern Delaware. Daniel Gott, has been shooting for the past five years. He specializes in shooting landscapes and urban areas, whether these urban areas are a representation of an abandoned structure suffering from the erosions of time or modern architecture. Colin’s preferred medium is analog, shooting in medium format. He has recently made the transition to a digital Sony a7r and shoots a wide variety of scenes. The pictured above images are either shot by one of these to or both in collaboration.
    h1(style = "font-family: 'Ailerons'; text-align:center; font-size:10vw; color:black; padding-top:100px;").contact contact
    div.divform
          form(action="action_page.php")
            label(for="fname") First Name
            input#fname(type="text", name="firstname")
            label(for="lname") Last Name
            input#lname(type="text", name="lastname")
            label(for="country") State
            select#country(name="country")
              option(value="australia") Australia
              option(value="canada") Canada
              option(value="usa") USA
            input(type="submit", value="Submit")
