doctype html
html
  head
    title DNGPHOTO
    script(src="http://code.jquery.com/jquery-1.7.1.min.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/main.js', type='text/javascript')
    


  body
    block content
